.footer__column-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.footer__column-link:hover {
  opacity: .7;
}
