.footer {
  display: flex;
  justify-content: center;
  background-color: var(--dark-background-color);
  color: #fff;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
